* {
    box-sizing: border-box;
} 
.container {
    text-align: center;
}

.hour {
    height: 100px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}
.plan{
    margin-bottom: 1px;
}

.textBox {
    width: 100%;
    height: 99px;
    word-break: break-word;
    background: transparent;
    border: none;
    margin: 5px auto 5px auto;
    
}
.save-btn {
    display: block;
    background-color: blue;
    height: 115px;
    width: 70px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.divider {
    border-top:5px solid black;
}
#title {
    border-bottom: 10px solid black;
    padding-bottom: 50px;
}
